/* header styling */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Outfit:wght@400;500;600;700&display=swap');
* {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
}
.master{
    display:flex;
    flex-direction: column;
}
.header {
    display:flex;
    gap: 60px;
    color: black;
    justify-content:space-between;
    margin-left: 100px;
    margin-right: 100px;margin-bottom: 10px;
  
    
}

.logo > a {
    text-decoration: none;
    color: black;

}

.logoname > a , .userinfo > a{
    text-decoration: none;
    color: black;
    padding: 12px;
}

.userinfo {
    display: flex;
    gap: 30px;
    
}

.logoname{
    display: flex;
    gap : 50px;
}

/* body styling */

.body-content {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.images{
    
    display: flex;
    flex-direction: column;
   
    
}
#largeimage {
    width:330px; 
    height:330px;
    border-radius: 20px;
    margin: 40px 0px 20px ;
        
}

.small-images{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
}
.small-images > img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    
}

.description {
    margin-top: 90px;
    margin-left: 90px;
}
#addcart {
    background-color: hsl(25, 100%, 94%);
    width:150px;
    height:30px;
    border-radius: 5px;

}
.items {
    width:20px; 
    height:24px;
}
p {
    font-size: 16px;
}
h1 {
    font-size: 30px;
    font-weight:bolder;
}
.description input[type="button"] {
    height:30px;
}
@media screen and (max-width: 375px) {
    .master {
        display: flex;
        flex-direction: column;
    }
    .body-content{
        display: flex;
        flex-direction: column;
        gap:2px;
    }
    .header{
        gap: 2px;
        flex-wrap: wrap;
        justify-content:left;
        margin: 0px;
    }
    .logoname > a , .userinfo > a{
        font-size: 10px;
        padding:2px;
        flex-wrap: wrap;
    }
    .logoname{
        gap:2px;
    }
}